extends base
block content
    main.main
        .auth-form
            h2.heading-secondary.ma-bt-lg Forget password
            form.form-forget
                .form__group
                    label.form__label(for='email') Email address
                    if user
                        input#email.form__input(type='email',name='email', placeholder='you@example.com',value=`${user.email}`,readonly required)
                    else
                        input#email.form__input(type='email',name='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green Continue