extends base
block content
    main.main
        .auth-form
            h2.heading-secondary.ma-bt-lg Reset your password
            form.form-reset
                .form__group
                    label.form__label(for='token') Reset token
                    input#reset-token.form__input(type='test',name='resetToken', value=`${token}` ,readonly, required)
                .form__group
                    label.form__label(for='password') New password
                    input#password.form__input(type='password',name='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-lg
                    label.form__label(for='password-confirm') Confirm password
                    input#password-confirm.form__input(type='password',name='passwordConfirm', placeholder='••••••••', required, minlength='8')
                .form__group.right
                    button.btn.btn--small.btn--green Save password
                    